:root{
    --blue-: rgb(0 153 255);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    height: 4000px;
}

/* Message div */
.msg{
    position: fixed;
    z-index: 11;
    width: 100%;
    height: 100vh;
    background-color: rgba(153, 152, 152, 0.712);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
    transition: 0.3s;
}

.msg .text{
    width: fit-content;
    height: 300px;
    padding: 20px;
    text-align: center;
    background-color: #dadada;
    flex-direction: column;
    justify-content: center;
    display: flex;
    border-radius: 40px;
    color: black;
    font-size: 20px;
    box-shadow: inset 0 0 3px 2px white;
}
/* Message div */

/* Back button */

.fly_button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-top-left-radius: 0%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: rotate(45deg);
    background-color: #ffea1b;
    position: fixed;
    bottom: 10px;
    right: -60px;
    outline: 2px solid black;
    animation: light_animation 2s infinite 0.3s linear;
    transition: 0.2s;
}

.fly_button .but_icon{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fly_button svg{
    transform: rotate(-45deg);
    font-size: 30px;
    color: #000;
}

@keyframes light_animation {
    0%{
        box-shadow: 0 0 6px 5px #d1d1d1;
    }
    50%{
        box-shadow: 0 0 6px 5px #777777;
    }
    100%{
        box-shadow: 0 0 6px 5px #d1d1d1;
    }
}

/* Back button */

/* Header */

header{
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--blue-);
    z-index: 10;
}

header .container{
    display: flex;
    justify-content: space-between;
    height: 100%;

}

#list_button{
    display: none;
    cursor: pointer;
    transition: 0.5s transform;
}

header img{
    width: 64px;
    height: 60px;
}

header .logo{
    width: 20%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header .logo h3{
    color: black;
}

header ul{
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    transition: 0.3s opacity;
}

header ul li{
    width: calc((100% / 4) - 40px);
    height: 100%;
}

header ul a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header ul li span{
    text-align: center;
    color: black;
    font-weight: bold;
}

#list{
    display: none;
}

/* Header */

/* Hello Message */

.curve{
    position: relative;
    z-index: -10;
    width: 100%;
    height: 210px;
    background-color: var(--blue-);
}

.curve img{
    transform: rotate(180deg);
    position: absolute;
    left: 0;
    top: 209px;
}

.hello_msg{
    padding-top: 70px;
    width: 100%;
    height: 340px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.hello_msg h1{
    font-size: 50px;
}

.hello_msg span{
    font-size: 60px;
    color: rgb(20, 0, 202);
}

.hello_msg h2{
    font-size: 30px;
    color: rgb(0, 145, 0);
}

/* Hello Message */

/* About Blog */

.about{
    width: 100%;
    margin-top: 20%
}

.about .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.about .container .text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.about .container .text h1{
    font-size: 50px;
    color: var(--blue-);
}

.about .container .text span{
    width: 100%;
    height: 10px;
    border-radius: 20px;
    background-image: linear-gradient(45deg, blue, #a782ee);
    border: 2px solid black;
}

.about .container .service{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.about .container .service .service_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    background-color: rgb(2, 0, 133);
    padding: 10px;
    height: 300px;
    text-align: center;
    color: white;
    width: calc(55% / 2);
    border-radius: 10px;
    outline: 1px solid black;
}

.about .container .service .service_div h2{
    font-size: 22px;
    color: rgb(51, 255, 0);
    font-weight: bold;
}

.about .container .service .service_div svg{
    color: white;
    font-size: 40px;
}

/* About Blog */

/* Topics */

.topics{
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.topics .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.topics .title{
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topics .title h1{
    color: var(--blue-);
}

.topics .title::before{
    content: "";
    position: absolute;
    background-image: linear-gradient(45deg, blue, #a782ee);
    width: 40%;
    height: 5px;
    top: 50%;
    left: 0;
    border-radius: 20px;
    border: 1px solid black;
}

.topics .title::after{
    content: "";
    position: absolute;
    background-image: linear-gradient(45deg, blue, #a782ee);
    width: 40%;
    height: 5px;
    top: 50%;
    right: 0;
    border-radius: 20px;
    border: 1px solid black;
}

.topics .topic_divs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.topics .topic_divs .topic{
    position: relative;
    width: 290px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topics .topic_divs a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.topics .topic_divs .topic img{
    width: 100%;
    height: 100%;
}

.topics .topic_divs .topic h1{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    top: 40%;
}

/* Topics */

/* Roadmaps */

.roadmaps{
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.roadmaps .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.roadmaps .title{
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roadmaps .title h1{
    color: var(--blue-);
}

.roadmaps .title::before{
    content: "";
    position: absolute;
    background-image: linear-gradient(45deg, blue, #a782ee);
    width: 40%;
    height: 5px;
    top: 50%;
    left: 0;
    border-radius: 20px;
    border: 1px solid black;
}

.roadmaps .title::after{
    content: "";
    position: absolute;
    background-image: linear-gradient(45deg, blue, #a782ee);
    width: 40%;
    height: 5px;
    top: 50%;
    right: 0;
    border-radius: 20px;
    border: 1px solid black;
}

/* Roadmaps */

/* extra Small devices */
@media (max-width: 499px){
    /* Message div */
    .msg .text{
        font-size: 15px;
        height: 280px;
    }
    /* Message div */
     /* Hello Message */
    .curve {
        background-color: var(--blue-);
        height: 200px;
    }
    .curve img {
        top: 199px;
    }
    .hello_msg{
        height: 240px;
        margin: 0px auto;
        transform: translateY(-40px);
        justify-content: unset;
    }
    .hello_msg h1{
        font-size: 35px;
        flex-direction: column-reverse;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }
    .hello_msg span{
        font-size: 40px;
    }
    .hello_msg h2{
        font-size: 20px;
        text-align: center;
    }
    /* Hello Message */
    /* Header */
    header .container{
        align-items: center;
        padding-left: 30px;
    }
    #list_button{
        display: unset;
    }
    header ul{
        display: none;
    }
    #list {
        padding: 1px;
        position: absolute;
        background-color: rgb(72 179 251);
        width: 100%;
        left: 0;
        top: -280px;
        flex-direction: column;
        height: 330px;
        gap: 5px;
        justify-content: flex-start;
        align-items: start;
        z-index: 1;
        list-style: none;
        transition: 0.5s;
        transition-property: transform;
    }
    #list li {
        width: 100%;
        outline: 1px solid black;
        height: 100%;
    }
    #list a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    #list li img{
        width: 40px;
        height: 40px;
    }
    #list li a span{
        text-align: center;
        color: black;
        font-weight: bold;
    }
    /* Header */
    /* About Blog */
    .about .container .service .service_div{
        width: 260px;
    }
    .about .container .text h1{
        font-size: 40px;
        text-align: center;
    }
    .about .container .service .service_div svg{
        font-size: 40px;
    }
    .about .container .service .service_div h2{
        font-size: 17px;
    }
    .about .container .service .service_div p{
        font-size: 15px;
    }
    /* About Blog */
    /* Topics */
    .topics .container {
        gap: 20px;
    }
    .topics .title h1 {
        font-size: 26px;
    }
    .topics .title::before, .topics .title::after{
        width: calc(36% - 16px);
    }
    .topics .topic_divs{
        gap: 10px;
    }
    .topics .topic_divs .topic {
        width: 150px;
        height: 140px;
    }
    .topics .topic_divs .topic h1 {
        font-size: 18px;
    }
    /* Topics */
    /* Roadmaps */
    .roadmaps .container {
        gap: 20px;
    }
    .roadmaps .title h1 {
        font-size: 26px;
    }
    .roadmaps .title::before, .roadmaps .title::after{
        width: calc(36% - 16px);
    }
    /* Roadmaps */  
}

/* Small devices */
@media (min-width: 500px) and (max-width: 767px){
    /* Hello Message */
    .curve {
        background-color: var(--blue-);
        height: 250px;
    }
    .curve img {
        top: 248px;
    }
    .hello_msg{
        margin: 0px auto;
        transform: translateY(-40px);
    }
    .hello_msg h1{
        font-size: 35px;
    }
    .hello_msg span{
        font-size: 45px;
    }
    .hello_msg h2{
        font-size: 25px;
    }
    /* Hello Message */
    /* Header */
    header .container{
        align-items: center;
    }
    #list_button{
        display: unset;
    }
    header ul{
        display: none;
    }
    #list{
        padding: 1px;
        position: absolute;
        background-color: rgb(72 179 251);
        width: 100%;
        left: 0;
        top: -280px;
        flex-direction: column;
        height: 380px;
        gap: 5px;
        justify-content: flex-start;
        align-items: start;
        z-index: 1;
        list-style: none;
        transition: 0.5s;
        transition-property: transform;
    }
    #list li {
        width: 100%;
        outline: 1px solid black;
        height: 100%;
    }
    #list a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    #list li img{
        width: 40px;
        height: 40px;
    }
    #list li a span{
        text-align: center;
        color: black;
        font-weight: bold;
    }
    /* Header */
    /* About Blog */
    .about .container .service .service_div{
        width: 55%;
    }
    .about .container .service .service_div svg{
        font-size: 30px;
    }
    .about .container .text h1{
        font-size: 45px;
    }
    .about .container .service .service_div h2{
        font-size: 17px;
    }
    .about .container .service .service_div p{
        font-size: 14px;
    }
    /* About Blog */
    /* Topics */
    .topics .title h1 {
        font-size: 30px;
    }
    .topics .title::before, .topics .title::after{
        width: 36%;
    }
    .topics .topic_divs .topic {
        width: 220px;
    }
    .topics .topic_divs .topic h1 {
        font-size: 26px;
    }
    /* Topics */
    /* Roadmaps */
    .roadmaps .title h1 {
        font-size: 30px;
    }
    .roadmaps .title::before, .roadmaps .title::after{
        width: 36%;
    }
    .roadmaps .topic_divs .topic {
        width: 220px;
    }
    .roadmaps .topic_divs .topic h1 {
        font-size: 26px;
    }
    /* Roadmaps */
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 992px){
    /* About Blog */
    .about .container .service .service_div{
        width: calc(80% / 2);
    }
    /* About Blog */
    /* Topics */
    .topics .title h1 {
        font-size: 30px;
    }
    /* Topics */
    /* Roadmaps */
    .roadmaps .title h1 {
        font-size: 30px;
    }
    /* Roadmaps */
}

/* Large devices */
@media (min-width: 993px) and (max-width: 1999px){ 
    
}

/* X-Large devices */
@media (min-width: 1200px) {

}